body {
  background-color: #dddddd;
}

.selection-text{
  max-width: 40%;
  padding-right: 10%;
}

div{
  margin-top: 100px;
}

img {
  max-width: 100%;
  max-height: 50%;
}

#food-items{
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  }

  .user-options {
      width: 40%;
      margin-right: 10%;
      height: 100px;
      float: right;
  }

  p {
      max-width: 75%;
      margin-left: 12%;
  }

  div p{
      max-width: 25%;

  }
